* {
    padding: 0;
    margin: 0;
    top: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
}

.container .container-box {
    border: 2px solid black;
}

.container .container-slider-vertical {
    width: 30px;
    background-color: gray;
}

.container-slider-horizontal {
    width: 100%;
    background-color: gray;
    height: 30px;
}

.navbar {
    background-color: black;
    height: 50px;
    margin: 0;
    color: white;
}

.navbar .title {
    color: lime;
    font-weight: bold;
    /* text-shadow: #0F0 1px 0 5px; */
}

.navbar .menu {
    padding-top: 10px;
    display: flex;
}

.navbar .menu .menu-item {
    padding-left: 20px;
    font-size: 18px;
}

.navbar .menu .menu-item:hover {
    cursor: pointer;
    color: aqua;
}

.navbar .btn-menu {
    display: block;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.navbar .btn-menu:hover {
    border: 1px solid cyan;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid lime;
    min-width: 160px;
    top: 20px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.toolbar {
    height: 100px;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: left;
    font-size: 16px;
}

.toolbar th {
    padding-left: 15px;
}

.toolbar td {
    padding-left: 5px;
}

.command-line {
    background-color: black;
    color: lime;
    border: 1px solid gray;
    height: 200px;
    overflow: scroll;
}

.error-text {
    color: red;
}


/* Loading Bar ------------------------------------------------------------------ */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
    }
    .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    }
    @keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* ------------------------------------------------------------------------------ */
