<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }}</title>
        <style type="text/css" media="screen">
            #editor1 { 
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 600px;
                height: 500px;
            }

            #editor2 { 
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 500px;
                flex-grow: 1;
            }
        </style>

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css')}}">
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="container">
            <div id="editor1" class="container-box"></div>
            <div id="main-slider" class="container-slider"></div>
            <div id="editor2" class="container-box"></div>
        </div>

        {% include "toolbar.html" %}
        {% include "commandline.html" %}

        <script type="text/javascript" src="{{ url_for('static', filename='/js/src-min-noconflict/ace.js') }}" charset="UTF-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js')}}" charset="UTF-8"></script>
    </body>
</html>
